.general-container {
    display: flex;
    width: 1200px;
    height: 590px;
    margin: 0 auto;
}

.upper-bar-container {
    margin: 0 auto;
    width: 1200px;
    height: 37px;
    background-color: yellow;
    display: flex;

}

.outer-container {
  background-color: red;
  width: 1250px;
  height: 720px;
  margin: 0 auto;
}

.round-display {
    font-size: 30px;
    flex: 1;
    text-align: left;
    margin-right: auto;
    margin-left: 5px;
}

.title-display {
    flex: 1;
    text-align: center;
    font-size: 30px;
}

.round-timer {
    flex: 1;
    font-size: 30px;
    text-align: right;
    margin-left: auto;
    margin-right: 5px;
}

.title {
    text-align: center;
    font-size: 70px;
}

.player-box {
    width: 190px;
    height: 68px;
    background-color: aquamarine;
    margin-top: 5px;
    position: relative;
    margin-left: 5px;
}

.player-score-change-box {
    position: absolute;
    color: red;
    font-size: 35px;
    left: 200px;
    bottom: 18px;
}

.prompt {
    margin-top: 20px;

    font-size: 50px;
    width: 750px;
    height: 240px;
    background-color: aquamarine;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;   
  
    display: none;
}

.player-title {
    font-size: 25px;
    text-align: center;
}
.player-score {
    font-size: 25px;
    text-align: center;
}

.message-input {
    width: 300px;
    height: 30px;
    font-size: 25px;
}

.message-input-send {
  height: 35px;
  font-size: 20px;
}

.votes-container {
    margin-top: 20px;
    position: relative;
    width: 750px;
    height: 200px;
    background-color: bisque;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    display: none;
}

.votes-row {
    display: flex;
    margin-bottom: 5px;
}

.vote-button {
    width: 175px;
    height: 75px;
    background-color: green;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
}

.vote-button-prompt-text {
    color: white;
  
    margin-left: 5px;
    margin-right: 5px;
  
    text-align: center;
    word-wrap: break-word;
    user-select: none;
}

.vote-button-votes-text {
    color: white;
    display: flex;
    justify-content: center;
    user-select: none;
}

.votes-input-send {
    height: 30px;
    font-size: 20px;
}

.prompt-container {
    width: 800px;
    background-color: orange;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.game-menu-container {
    margin-top: 10px;
    background-color: green;
    width: 775px;
    height: 575px;
  
    display: none;
}

.room-code {
    text-align: center;
    font-size: 40px;
    width: 200px;
}

.results-container {
    margin-top: 10px;
    background-color: pink;
    width: 775px;
    height: 575px;
  
    text-align: center;
    display: none;
}

.room-join-container {
    margin-top: 10px;
    background-color: pink;
    width: 775px;
    height: 575px;
  
    text-align: center;
}

.name-input {
    width: 150px;
    height: 30px;
    font-size: 25px;
}

.room-input {
    width: 150px;
    height: 30px;
    font-size: 25px;
}

.join-room-send {
    width: 175px;
    height: 75px;
  
    font-size: 30px;
}

.create-room-send {
    width: 175px;
    height: 75px;

    font-size: 30px;
}

.results-heading {
    font-size: 45px;
}

.results {
    font-size: 30px;
    margin-top: 10px;
}

.results-next-game {
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.game-menu-row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.checkbox-label {
    color: white;
    font-size: 25px;
    margin-right: 3px;
    margin-left: 15px;
}

.section-heading {
    color: white;
    justify-content: center;
    display: flex;
    font-size: 45px;
}

.select-class-label {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

.select-class {
    font-size: 20px;
}

.menu-submit-button {
     font-size: 30px;
}

.player-container {
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: black;
}

.chatbox-container {
    position: relative;
    width: 200px;
    background-color: white;
}

.chatbox-field {
  width: 145px;
  height: 20px;
  background: white;
}

.chatbox-hud {
  display: flex;
  position: absolute;
  bottom: 0;
}

.chatbox-send {
  width: 50px;
}

.chat-messages-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 560px;
}

.chat-message {
  writing-mode: horizontal-rl;
  text-orientation: mixed;
  font-size: 15px;
  margin-bottom: 1px;
  word-wrap: break-word;
  margin-left: 3px;
}

.lower-section {
  top: 100px;
  width: 1250px;
  background-color: #00906d; 
  margin: 0 auto;
  position: relative;
  height: 40vh;
}

.info-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.info-column {
  width: 400px;
  height: 250px;
  background-color: #00d2a7;
  margin: 20px;
  text-align: center;
}